.auth-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('/authBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .auth-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-height: 90vh;
        max-width: 400px;
        margin: 1rem;
        padding: 2rem 1rem;
        border-radius: 5px;
        background-color: var(--color-light);
        overflow-y: scroll;

        .auth-form-title{
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 2rem;
            color: var(--color-secondary)
        }

        .tipoPerfil{
            margin-bottom: 1rem;
        }

        .auth-form{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;    

            .auth-input {
                width: 100%;
                margin-bottom: 1rem;
            }

            .auth-btn{
                width: 150px;
                margin-top: 2rem;
            }

            .error{
                color: var(--color-error);
                text-align: center;
                margin-bottom: 0 0 0!important;
            }
        }

        .auth-link{
            margin-top: 1.5rem;
            font-size: 14px;
            a{
                color: #1975d1;
                text-decoration: underline;
            }
        }

        .comeBack-link{
            font-size: 14px;
            font-weight: 700;
            margin-top: .5rem;
        }
    }
}

@media (min-width: 375px) {
    .auth-wrapper {
        .auth-container {
            padding: 2rem;
        }
    }
}

@media (min-width: 768px){
    .auth-wrapper{
        .auth-container.signin{
            max-width: 700px;
    
            .auth-form{
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 1rem;
        
                > .tipoPerfil {
                    grid-column: 1 / -1;
                }
        
                // > :nth-child(2) { 
                //     grid-column: 1; 
                // } 
                // > :nth-child(5) { 
                //     grid-row: 2;
                //     grid-column: 2; 
                // }
                // > :nth-child(3) { 
                //     grid-column: 1; 
                // } 
                // > :nth-child(6) {
                //     grid-row: 3;
                //     grid-column: 2; 
                // } 
                // > :nth-child(4) { 
                //     grid-column: 1; 
                // } 
                // > :nth-child(7) { 
                //     grid-column: 2; 
                // } 
        
                > .auth-btn {
                    grid-column: 1 / -1;
                    justify-self: center;
                    margin-top: 2rem;
                }
            }
        }
    }
  }