#detalle-viaje{
    padding-bottom: 2rem;
    .sections-container{
        display: grid;
        grid-template-columns: 100%;
        gap: 1rem;
        #detalle{
            order: 1;
        }
        #oferta-viaje{
            order: 2;
        }
        #ofertas{
            order: 3;
        }
        #informacion{
            order: 4;
        }
        #statusChanger{
            order: 5;
        }
        #chat{
            order: 6;
        }
    }

}

@media (min-width: 1440px){
    #detalle-viaje{
        .sections-container{
            grid-template-columns: 5fr 2fr;
    
            #oferta-viaje{
                order: 4;
            }
            #ofertas{
                order: 2;
            }
            #informacion{
                order: 3;
            }
            #chat{
                order: 2;
                grid-row: 1/3;
                grid-column: 2/3;
            }
        }
        .sections-container.propio{
            grid-template-columns: 5fr 3fr;

            #detalle{
                grid-row: 1/3;
            }
            #ofertas{
                grid-row: 2/4;
            }
            #statusChanger{
                grid-row: 1/2;
                grid-column: 2/3;
            }
            #informacion{
                grid-row: 3/4;
            }
            #chat{
                grid-row: 2/4;
            }
        }
    }
}