.sb-nav-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 230px;
    margin-bottom: 1rem;
    padding: 10px 16px;
    border-radius: 5px;
    color: var(--color-background);
    background-color: #ffffff2a;
}

.sb-nav-link-open{
    max-width: 4rem;
    justify-content: center;
}

.sb-nav-link.active {
    background-color: var(--color-primary)
}