@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    --color-primary: #FFC500;
    --color-secondary: #27272A;
    --color-terciary: #CBD5DF;
    --color-light: #F6F6F6;
    --color-dark: #0C0C0C;
    --color-light-gray: #ccc;
    --color-gray: #494949;
    --color-success: #10b981;
    --color-error: #EF4444;
    --color-warning: #F59E0B;
    --color-info: #3B82F6;

    --max-width: 1280px;
}

// Reset CSS
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
li{
    list-style: none;
}
a{
    color: unset;
    text-decoration: none;
}
html{
    overflow-x: hidden;
}

// Common styles
body{
    background-color: var(--color-light);
    color: var(--color-text);
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
}

#start{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: 4rem 1fr auto;
}

.expandedContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container{
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}

.main{
    height: 100dvh;
    padding: 2rem 1rem 0;
    overflow-y: scroll;

    .page-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        color: var(--color-secondary);

        .page-title{
            display: flex;
            align-items: center;
            gap: .5rem;
            
            h2{
                font-size: clamp(18px, 5vw, 24px);
                color: var(--color-secondary);
            }
    
            a{
                display: flex;
                align-items: center;
                color: var(--color-secondary);
            }
        }

    }

    .cards-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-items: center;
        gap: 1rem;
        height: calc(100vh - 210px);
        padding: 2rem 0;
        overflow-y: scroll;
    }

    .pagination-container{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 4rem;
        border-top: 1px solid var(--color-light-gray);
    }

    .filterSortControls{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem 0;
        padding-bottom: 4px;
        border-bottom: 1px solid var(--color-light-gray);
    }

    .empty{
        text-align: center;
        margin: 2rem;
    }
}

@media (min-width: 400px) {
    .main{
        .cards-container{
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            gap: 2rem;
        }
    }
}

::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de scroll */
}
::-webkit-scrollbar-track { /* Estilo del "track" (fondo de la barra de scroll) */
    background-color: #f1f1f1; /* Color de fondo */
    border-radius: 6px; /* Bordes redondeados */
}
::-webkit-scrollbar-thumb { /* Estilo del "thumb" (el área que se arrastra) */
    background-color: #888; /* Color del "thumb" */
    border-radius: 6px; /* Bordes redondeados */
}
::-webkit-scrollbar-thumb:hover {/* Estilo del "thumb" cuando se pasa el mouse sobre él */
    background-color: #555; /* Color del "thumb" al hacer hover */
}