#statusChanger{
    max-height: 200px;

    .statusAction{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media(min-width: 650px){
            flex-direction: row;
        }

        .state{
            font-weight: 600;
        }

        .final-msg{
            font-weight: 500;
            margin-left: 2rem;
            background-color: var(--color-terciary);
            padding: 8px 1rem;
            border-radius: 5px;
            span{
                text-transform: uppercase;
            }
        }
    }
}