#statusChanger{
    max-height: 200px;

    .statusAction{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media(min-width: 650px){
            flex-direction: row;
        }

        .state{
            font-weight: 600;
        }

        .cancel{
            font-weight: 600;
        }
    }
}