.footer-container{
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: var(--color-dark);
    margin-top: 6rem;
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: var(--max-width);
        padding: 1rem;
        
        .footer-logo{
            display: flex;
            align-items: center;
            color: var(--color-primary);
            margin-bottom: 2rem;
            a{
                display: flex;
                align-items: center;
                color: #fff;
                font-family: "Ubuntu", sans-serif;
                font-size: 22px;
                gap: 1rem;
                img{
                    width: 2rem;
                }
            }
        }
        
        .footer-links{
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            ul{
                display: flex;
                flex-direction: column;
                align-items: center;
                .footer-item{
                    margin-bottom: .5rem;
                    .footer-link{
                        font-weight: 300;
                        color: var(--color-light);
                    }
                }
            }
        }

        .footer-media{
            ul{
                display: flex;
                justify-content: center;
                gap: 1rem;
                .media-item{
                    .media-link{
                        .media-icon{
                            font-size: 2rem;
                            color: var(--color-light);
                        }
                    }
                }
            }
        }

        .develio{
            display: flex;
            justify-content: center;
            align-items: center;
            grid-column: 1/3;
            margin-top: 1rem;
            font-size: 14px;
            font-weight: 300;
            color: #616161;
            a{
                font-weight: 300;
                color: #616161;
            }
        }
    }
}

@media (min-width: 768px){
    .footer-container{
        footer{
            padding: 2rem;
            .footer-links{
                ul{
                    flex-direction: row;
                    gap: 1rem;
                }
            }
        }
    }
}